## Title: Coursera - Tools for Data Science - Peer Graded Assignment (AK)

This notebook will detail my answers to the Coursera - Tools for Data Science - Peer-Graded Assignment

#### This cell shows a list of data science languages
1.   Julia
2.   Python
3.   R

#### This cell shows a list of data science libraries
1.   NumPy
2.   Pandas
3.   Matplotlib

#### This cell shows a table of data science tools
|       Data Science Tools    |
-------------------------------
|       Jupyter Notebook      |
|          Tensorflow         |
|           Pytorch           |

#### This cell shows an example of an arithmentic expression that can be carried out using Jupyter Notebooks

3x5=15

In [2]:
a = 3
b = 5
c = a*b

print(c)

15

In [4]:
a = 3
b = 5
c = 4
d = 6

e = (a*b) + (c+d)
print(e)

25

In [7]:
minutes = 30
minutes_to_hours = minutes/60
print(minutes_to_hours)

0.5

####The objective here was to:

1.   Learn the tools required for Data Science
2.   Learn how to use Data Science tools such as Jupyter Notebooks
3.   Learn how to use a version control system such as GitHub

###Author: **Azariah Kusi-Yeboah**