## Title: Coursera - Tools for Data Science - Peer Graded Assignment (AK)

This notebook will detail my answers to the Coursera - Tools for Data Science - Peer-Graded Assignment

#### This cell shows a list of data science languages
1.   Julia
2.   Python
3.   R

#### This cell shows a list of data science libraries
1.   NumPy
2.   Pandas
3.   Matplotlib

#### This cell shows a table of data science tools
|       Data Science Tools    |
-------------------------------
|       Jupyter Notebook      |
|          Anaconda           |
|           R Studio          |
|           Spyder            |
|           Zeppelin          |

### **This cell shows an example of an arithmentic expression that can be carried out using Jupyter Notebooks**

In [3]:
#This is an example of a simple arithmetic expression

(3*2) + 4

10

In [5]:
#This code converts minutes to hours

minutes = 200
minutes_to_hours = minutes/60
print(minutes_to_hours)

3.3333333333333335

###This cell highlights the objectives of this excercise and course:

####**Objectives**:



*   Add comments to code cells
*   Format content of markdown cells with heading styles
*   Create markdown cells
*   Add ordered and unordered lists to markdown cells

###**Author**:
Azariah Kusi-Yeboah